body {
    background-color: rgba(236, 236, 236, 0.264);
    background-image: radial-gradient(rgba(92, 88, 88, 0.165) 1px, rgba(236, 236, 236, 0.264) 1px);
    background-size: 7px 7px;
    color: black;
    font-family: sans-serif;
    margin-left: 15%;
    margin-right: 15%;
}

.Header {
    margin: 5%;
    width: 50%;
    height: auto;
    padding: 6% 1%;
    box-sizing: border-box;
    float: left;
}

.Headshot img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin: 5% auto auto auto;
}

.Header h1 {
    text-align: right;
    border: 0;
    margin: 0 1%;
    padding: 0;
}

.Header p {
    text-align: right;
    border: 0;
    margin: 0 1%;
    padding: 0;
}


.About-Me {
    float: left;
    width: 66%;
    margin: 2% 1%;
    border: 2px solid rgba(117, 117, 117, 0.596);
    /*border-bottom: 2px solid rgba(187, 214, 179, 0.596);
    border-top: 2px solid rgba(187, 214, 179, 0.596); */
    background-color: rgba(255, 255, 255, 0.891);
    padding: 1%;
    box-sizing: border-box;
}

.Projects-Box {
    float: left;
    width: 30%;
    margin: 2% 1%;
    padding: 1%;
    border: 2px solid rgba(117, 117, 117, 0.596);
    background-color: rgba(255, 255, 255, 0.891);
    box-sizing: border-box;
}