body {
    background-color: rgba(236, 236, 236, 0.264);
    background-image: radial-gradient(rgba(217, 188, 2, 0.1) 1.5px, rgba(236, 236, 236, 0.264) 1px);
    background-size: 7px 7px;
    color: black;
    font-family: sans-serif;
    margin-left: 15%;
    margin-right: 15%;
}

.Header {
    margin: 5%;
    width: 50%;
    height: auto;
    padding: 6% 1%;
    box-sizing: border-box;
    float: left;
    background-image: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.Headshot img {
    width: 22%;
    height: auto;
    border-radius: 50%;
    margin: 3% auto auto 8%;
}

.Header h1 {
    text-align: center;
    border: 0;
    margin: 0 1%;
    padding: 0;
}

.Header p {
    text-align: center;
    border: 0;
    margin: 0 1%;
    padding: 0;
}

.About-Me-Box {
    float: left;
    width: 60%;
    margin: 2% 1%;
    padding: 0%;
    box-sizing: border-box;
}

#About-Me-Header {
    width: 100%;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-align: left;
}


#large-font {
    font-size: larger;
}


.Interests {
    width: 100%;
    margin: 2% 0%;
    padding: 0.75% 2% 2% 2%;
    background-image: radial-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0));
    box-sizing: border-box;
    text-align: left;
}

.interests-gif {
    width: 4%;
    height: auto;
    padding: 0;
}

.education-gif {
    width: 8%;
    height: auto;
    padding: 0;
}

#OSU {
    text-align: center;
    font-size: large;
}

.Projects-Box {
    float: left;
    width: 30%;
    margin: 2% 1%;
    padding: 0%;
    box-sizing: border-box;
}

#Projects-Header {
    width: 98%;
    margin: 0% 1%;
    padding: 0%;
    box-sizing: border-box;
    text-align: center;
}

.Project-List {
    width: 98%;
    margin: 0% 1%;
    padding: 0 3% 0 0;
    background-image: radial-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0));
    border-top: 2px solid rgba(117, 117, 117, 0.3);
    box-sizing: border-box;
    text-align: left;
}

.sub-bullet {
    margin-left: -20px;
    font-size: 85%;
    font-style: italic;
    padding-bottom: 3%;
}